body {
 margin: 0;
 background-color: #CBF3F0;
 font-family: Georgia, serif;
}
html {
 scroll-behavior: smooth; 
}
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
       }
.link{
  float: left;
 }
.nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: #FFBF69;
  border: 3px solid #FF9F1C;
  z-index: 500;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 200px;
  transition: height 1s;
}
.page {
  text-decoration: none;
  font-size: 2.5vw;
  color: black;
  text-indent: 20px;
  padding: 10px;
}
.page:hover {
  color: #2EC4B6;
  cursor: pointer;
}
.site-links {
  position: relative;
  text-align: center;
  top: 30px;
  font-weight: bold;
  font-size: 2vw;
  width: 100%;
   color: black;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  position: relative;
  top: 50px;
  grid-gap: 20px;
  color: black;
}
.footer-box {
  text-decoration: none;
  font-size: 1vw;
  
}
.footer-box:hover {
  color: 	#2EC4B6;
  cursor: pointer;
    }
.footer {
  grid-column: 1 / 5;
  background-color: #FFBF69;
  height: 300px;
  width: 96.997%;
  border: solid 3px #FF9F1C;
}
.logo {
  width: 12vw;
  transition: width 1s;
}
.wrapper {
  top: 650px;
}
.top {
 font-family: Georgia, serif;
}
@media(max-width:540px){
  .footer {
    width: 86.8%;
  }
  .site-links {
    font-size: 7vw;
  }
  .footer-box {
    font-size: 4vw;
  }
  .nav {
    height: 100px;
  }
  #two {
    width: 25vw;
  }
  .page {
    font-size: 8vw;
  }
}
